//  cart 
.cart-wrap {
    min-height: 780px;
}

.cart {
    padding-top: 12px;
    &__alert {
        border: 1px solid var(--primary-color);
        padding: 13px 15px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: rgba(255, 94, 0, 0.05);
        color: var(--primary-color);
        &-icon {
            font-size: 24px;
            margin-right: 8px;
        }
        &-title {
            font-size: 14px;
        }
    }
    &__list {
        &-title {
            margin-top: 32px;
            font-size: 20px;
            margin-bottom: 22px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &-th {
            font-size: 15px;
            color: #2a2a2a;
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 12px;
            padding: 10px;
            padding-left: 0px;
            input {
                margin-right: 6px;
            }
            .col-1 {
                width: 430px;
                padding-right: 35px;
                padding-left: 20px;
            }
            .col-2 {
                width: 190px;
                margin-right: 35px;
            }
            .col-3 {
                width: 130px;
                margin-right: 35px;
            }
            .col-4 {
                width: 100px;
                margin-right: 35px;
            }
        }
        &-total {
            &:first-child {
                border-radius: 5px 5px 0 0;
            }
            &:last-child {
                border-radius: 0 0 5px 5px;
            }
            padding: 30px 0px;
            background-color: #fff;
            .col-1 {
                width: 430px;
                padding-right: 35px;
                padding-left: 20px;
            }
            .col-2 {
                width: 190px;
                margin-right: 35px;
            }
            .col-3 {
                width: 130px;
                margin-right: 35px;
            }
            .col-4 {
                width: 100px;
                margin-right: 35px;
            }
            &-name {
                display: flex;
                align-items: flex-start;
                font-size: 14px;
                line-height: 20px;
                input {
                    margin-right: 12px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%)
                }
                img {
                    width: 80px;
                    height: 80px;
                    margin-right: 12px;
                }
                &-title {
                    display: -webkit-box;
                    height: 36px;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    font-weight: 500;
                }
            }
            &-price {
                display: flex;
                align-items: center;
                &--after {
                    color: #000;
                    font-size: 16px;
                    margin-right: 4px;
                    font-weight: 600;
                }
                &--before {
                    color: rgb(153, 153, 153);
                    font-size: 12px;
                    margin-top: 1px;
                    text-decoration: line-through;
                }
            }
            &-quanti {
                display: flex;
                align-items: center;
                &-increment {
                    width: 28px;
                    height: 28px;
                    background-color: #f0f0f0;
                    border: 1px solid var(--border-color);
                    border-radius: 0 4px 4px 0;
                    text-align: center;
                    border-left: none;
                }
                &-decrement {
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    background-color: #f0f0f0;
                    border: 1px solid var(--border-color);
                    border-radius: 4px 0 0 4px;
                    border-right: none;
                }
                &-quantity {
                    width: 60px;
                    height: 28px;
                    border: 1px solid var(--border-color);
                    input {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        border: none;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
            &-total {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: rgb(255, 10, 10);
                font-weight: 600;
            }
            &-delete {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: #4a9acb;
            }
        }
    }
    &__total-price {
        &-ship {
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 12px;
            padding: 15px;
            &-title {
                display: flex;
                align-items: center;
                font-size: 15px;
                justify-content: space-between;
                div {
                    font-weight: bold;
                }
                span {
                    font-weight: 500;
                    color: rgb(13, 92, 182)
                }
            }
            &-human {
                font-weight: 600;
                display: flex;
                font-size: 15px;
                justify-content: space-between;
                margin-top: 16px;
            }
            &-address {
                color: rgb(120, 120, 120);
                font-weight: 500;
                font-size: 13px;
                margin-top: 16px;
            }
        }
        &-promotion {
            background-color: #fff;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 12px;
            &-info {
                display: flex;
                justify-content: space-between;
                font-size: 15px;
                font-weight: 500;
                div {
                    color: rgb(120, 120, 120);
                    font-size: 13px;
                    span {
                        position: relative;
                        top: 1px;
                        margin-left: 4px;
                    }
                }
            }
            &-choose {
                display: flex;
                align-items: center;
                font-size: 15px;
                color: rgb(13, 93, 183);
                margin-top: 15px;
                span {
                    margin-left: 8px;
                }
            }
        }
        &-result {
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 12px;
            &-top {
                padding: 25px;
                border-bottom: 1px solid var(--border-color);
                &-price,
                &-discount {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 500;
                    font-size: 15px;
                    span {
                        font-weight: 400;
                        color: rgb(52, 52, 52)
                    }
                }
                &-discount {
                    margin-top: 15px;
                    padding-bottom: 10px;
                }
            }
            &-bottom {
                padding: 25px 15px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                span {
                    font-weight: 400;
                    color: rgb(52, 52, 52);
                    font-size: 15px;
                }
                div {
                    font-size: 24px;
                    color: rgb(255, 10, 10);
                    small {
                        font-size: 13px;
                        color: rgb(52, 52, 52);
                        margin-top: 3px;
                    }
                }
                &-price {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
            &-buy {
                color: #fff;
                background-color: rgb(255, 66, 78);
                padding: 17px;
                border-radius: 5px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}